{% extends "base.html.twig" %}

{% block title %}Mes Albums likés{% endblock %}

{% block body %}
<div class="albums-container">

<h1>Les Albums</h1>
<div class="albums-container">
  {% for album in albums %}
    <div class="card border-info albums">
      <img src="{{ asset('images/default1.jpg')}}" alt="couverture de l'album" class="card-img-top">
      <div class="card-body">
        <h2>{{ album.albumTitle }}</h2>
        <h3>{{ album.albumName}}</h3>
        <p class="card-text">{{ album.albumType }}</p>
        <a href="{{ path('albumdetail', {'id': album.id}) }}" class="btn  btn-custom">Voir l'album</a>
      </div>
    </div>
  {% else %}
  {% endfor %}

</div>

{% endblock %}
